@import url('https://fonts.googleapis.com/css?family=Bad+Script|Great+Vibes|Sacramento|Cookie|Italianno|Roboto|Poiret+One');

html {
  scroll-behavior: smooth;
}
body {
  margin: 0 auto;
  background-color: #eee;
  font-family: Helvetica;
}





/* HEADER STYLING (Navbar) */

header {
  background-color: white;
  position: fixed;
  width: 100%;
}
#logo a, #logo a:active, #logo a:focus {
  text-decoration: none;
  color: black;
}
#nav-bar {
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 5px;
}
#collapse {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
#logo {
  display: flex;
  align-items: center;
  font-size: 48px;
  font-family: "Great Vibes";
  height: 100%;
  margin-left: 40px;
}
@media screen and (max-width: 900px) {
  #logo {
    margin-left: 20px;
  }
}
#menu-icon {
  display: none;
}
#bar1, #bar2, #bar3 {
  height: 3px;
  width: 30px;
  margin 0px 0;
  transition: 0.4s;
  background: #222;
}
.change #bar1 {
  -webkit-transform: rotate(-45deg) translate(0, 12px);
  transform: rotate(-45deg) translate(0, 12px);
}
.change #bar2 {
  opacity: 0;
}
.change #bar3 {
  -webkit-transform: rotate(45deg) translate(0, -12px);
  transform: rotate(45deg) translate(0, -12px);
}
#nav-links {
  
}
#nav-links ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-right: 50px;
  height: 100%;
}
#nav-links ul li {
  margin: 0 30px;
  font-size: 28px;
  font-family: "Cookie";
  height: 100%;
}
#nav-links a {
  color: black;
  padding: 8px 3px;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: all ease-in-out 0.3s;
}
#nav-links a:hover, #nav-links a:focus, #nav-links a:active {
  border-color: black;
}
.border {
  border-color: black;
}

@media screen and (max-width: 900px) {
  #header-img {
    margin-left: 30px;
    font-size: 40px;
  }
  #nav-links ul {
    margin-right: 5px;
  }
  #nav-links ul li {
    margin: auto 20px;
    font-size: 24px;
  }
}

@media screen and (max-width: 700px) {
  #nav-bar {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  #collapse {
    width: 100%;
  }
  #nav-links {
    position: absolute;
    top: 65px;
    background: white;
    width: 100%;
    -webkit-transition: opacity 300ms, visibility 300ms;
    transition: opacity 300ms, visibility 300ms;
  }
  #nav-links ul {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  #nav-links ul li {
    margin: 20px auto;
    font-size: 24px;
  }
  #menu-icon {
    display: flex;
    height: 21px;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    margin-right: 30px;
  }
  .hide {
    visibility: hidden;
    opacity: 0;
  }
}
















/* TOP STYLING */
#top {
  background: white;
}
#top-img {
  background: url("https://images.pexels.com/photos/670061/pexels-photo-670061.jpeg?auto=compress&cs=tinysrgb&h=720&w=1377");
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#top-content {
  background: #1F1F1F;
  height: auto;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#top-content h1 {
  font-size: 28px;
  font-weight: 550;
  text-align: center;
  font-family: "Roboto";
  color: #EEE;
}

@media screen and (max-width: 900px) {
  #top-content h1 {
    font-size: 24px;
  }
}

@media screen and (max-width: 700px) {
  #top-content {
    padding: 10px 13px;
  }
  #top-content h1 {
    font-size: 18px;
  }
}






/* ABOUT STYLING */
#about {
  background: white;
  display: flex;
  flex-direction: row;
  padding: 0;
  width: 100%;
  height: auto;
}
#about-img {
  background: url("https://images.pexels.com/photos/1051075/pexels-photo-1051075.jpeg?auto=compress&cs=tinysrgb&h=650&w=940");
  width: 50%;
  background-attachment: fixed;
}
#quote {
  display: none;
}
#about-content {
  background: white;
  padding: 90px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}
#about-content p {
  font-size: 18px;
  font-family: "Roboto";
  text-align: justify;
  text-justify: inter-character;
  line-height: 26px;
  color: #111s;
  padding-bottom: 20px;
}
#about-content iframe {
  width: 500px;
  height: 315px;
}

@media screen and (max-width: 900px) {
  #about-content {
    width: 100%;
  }
  #about-content p {
    font-size: 16px;
  }
  #about-content iframe {
  width: 400px;
  height: 215px;
  }
}

@media screen and (max-width: 700px) {
  #about {
    flex-direction: column-reverse;
    width: 100%;
  }
  #about-img {
    width: 100%;
    height: 400px;
    display: flex;
  }
  #quote {
    align-self: center;
    display: block;
    padding: 10px;
    margin: auto;
    background: #1F1F1F;
    width: 80%;
    min-height: 60px;
  }
  #quote p {
    font-size: 16px;
    color: #EEE;
    text-align: center;
    font-family: Roboto;
    vertical-align: middle;
    line-height: 25px;
  }
  #about-content {
    box-sizing: border-box;
  }
  #about-content p {
    font-size: 16px;
  }
  #about-content iframe {
    width: 70%;
    height: 45vw;
  }
}





#services {
  background: url("https://images.pexels.com/photos/139321/pexels-photo-139321.jpeg?auto=compress&cs=tinysrgb&h=1080&w=1920");
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px;
}
#our-services {
  text-align: center;
  background: white;
  align-self: center;
  padding: 20px 60px;
  margin: 40px;
  margin-top: 70px;
  font-size: 28px;
  font-weight: bolder;
  font-family: Roboto;
}
.service {
  background: white;
  border-radius: 2px;
  font-family: Roboto;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  margin: 10px;
  width: 70vw;
  height: auto;
  transition: all ease-in-out 0.2s;
}
#planning, #tools {
  align-self: flex-end;
}
.image {
  width: 45%;
  height: auto;
}
.image img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.content {
  width: 45%;
  height: auto;
  box-sizing: border-box;
  padding: 20px;
}
  .content h2 {
    font-size: 30px;
  }

@media screen and (max-width: 900px) {
  #our-services {
    font-size: 26px;
  }
  .service {
    width: 80vw;
  }
  .content {
    width: 50%;
  }
  .content h2 {
    font-size: 24px;
  }
}

@media screen and (max-width: 700px) {
  #planning, #tools {
    align-self: center;
  }
  #services {
    align-items: center;
    padding: 10px;
  }
  #our-services {
    font-size: 22px;
    padding: 20px;
    width: 180px;
  }
  .service {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
    width: 85vw;
  }
  .content {
    width: 100%;
  }
  .image {
    width: 90%;
  }
  .content h2 {
    font-size: 22px;
  }
}







#contact {
  background: url("https://images.pexels.com/photos/615060/pexels-photo-615060.jpeg?auto=compress&cs=tinysrgb&h=1080&w=1920");
  background-size: cover;
  background-attachment: fixed;
  height: 700px;
  display: flex;
  align-items: center;
  padding: 40px 10px;
}
#form-container {
  font-family: Roboto;
  padding: 30px 60px;
  width: 500px;
  height: auto;
  background: white;
  margin: 0 auto;
  border-radius: 5px;
}
#form-container h2 {
  text-align: center;
  font-weight: lighter;
  font-size: 24px;
}
.inputs {
  display: block;
  width: 80%;
  font-size: 16px;
  font-family: Roboto;
  padding: 7px 10px;
  margin: 50px auto;
  outline: none;
  border: none;
  border-bottom: 1px solid #222;
}
#submit {
  background: #222;
  color: #EEE;
  padding: 10px 20px;
  font-family: Roboto;
  display: block;
  margin-left: auto;
  margin-right: 10%;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all ease-in-out 0.15s;
}
#submit:hover {
  transform: translate(0, -5px);
}
#form fieldset {
  border: none;
}
@media screen and (max-width: 900px) {
  #form-container {
    min-width: 70%;
  }
}
@media screen and (max-width: 700px) {
  #form-container {
    min-width: 90vw;
    box-sizing: border-box;
    padding: 30px;
  }
}






footer {
  padding: 40px 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  background: white;
}
footer ul {
  list-style: none;
  padding-left: 0;
}
footer ul li {
  margin: 10px 0;
}
.bottom-links, .social-media {
  width: 40%;
}
.bottom-links ul li a {
  color: #666;
  padding: 5px;
  text-decoration: none;
  transition: all ease-in-out 0.15s;
}
.bottom-links ul li a:hover, .bottom-links ul li a:focus, .bottom-links ul li a:active {
  color: black;
}
.social-media ul li {
  display: inline-block;
}
.social-media i {
  font-size: 1.8em;
  transition: all ease-in-out 0.3s;
}
.social-media i:hover {
  transform: translate(0, -5px)
}
.social-media ul li a {
  color: #222;
  padding: 5px;
  text-decoration: none;
  transition: all ease-in-out 0.3s;
}
@media screen and (max-width: 900px) {
  footer {
    padding: 40px 50px;
    flex-wrap: wrap;
  }
  .bottom-links p {
    font-size: 14px;
  }
}
@media screen and (max-width: 700px) {
  footer {
    padding: 40px 20px;
    flex-wrap: wrap;
  }
  .bottom-links, .social-media {
    font-size: 14px;
    min-width: 200px;
    margin: 20px auto;
  }
}
